body {
  margin: auto;
  font-family: sans-serif;
}

.container {
  background-color: #0CE8BD;
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 60%;
  margin-bottom: 30px;
}

table {
  border: #000000 1px inset;
}

th,
td {
  width: 100px;
  border: #000000 inset;
}
